server {
    listen 80;
    server_name ${SELLER_HOST};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    http2 on;
    server_name ${SELLER_HOST};

    include /etc/nginx/snippets/ssl.conf;
    include /etc/nginx/snippets/ssl-active-seller.conf;
    include /etc/nginx/snippets/security-headers.conf;

    location / {
        proxy_pass http://web-seller:3001;
        include /etc/nginx/snippets/proxy-params.conf;
    }
}
